<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BP_rizeni_zakazek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BP_rizeni_zakazek.Properties.Settings>
            <setting name="JsonFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CsvZakFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CsvHotFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>46, 51, 73</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
        </BP_rizeni_zakazek.Properties.Settings>
    </userSettings>
</configuration>